.siteBar{
    width: 500px;
  }
  @media only screen and (min-width:320px) and (max-width:688px){
    .siteBar{
    display: none;
  }
  .header{
    width: 200px;
  }
  .buybtn{
    justify-content: space-between;
  }
  .icon{display: none;}
  }
  @media only screen and (min-width:688px) and (max-width:992px){
    .siteBar{
    display: none;
  }
  }